@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-wght.ttf') format('truetype');
}

@font-face {
    font-family: 'InterTight';
    src: url('/fonts/InterTight-wght.ttf') format('truetype');
}